@charset "UTF-8";


:root {
    --text-color: white;
    --background-url: url('../src/dark-mode.jpg');
    --border-color: rgba(255, 255, 255, 0.5);
    --filter-invert: invert(1);
    --border-image: rgba(255, 255, 255, 0.377);
}


/* Background */
body {
    width: 100vw;
    height: 100vh;

    background-image: var(--background-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    transition: background 0.3s ease;
}

.light {
    --text-color: black;
    --background-url: url('../src/light-mode.jpg');
    --border-color: rgba(0, 0, 0, 0.24);
    --filter-invert: none;
    --border-image: rgba(0, 0, 0, 0.411);
}

/* Conteúdo principal */
.container {
    width: 80vw;
    height: 70vh;
    margin: auto;
    padding-top: 100px;

}

.container img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border: 1px solid var(--border-image);
    border-radius: 50%;
}

.container h1 {
    text-align: center;
    padding: 10px;
    margin-top: 20px;

    color: var(--text-color);
}

.container ul {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.container ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;

    text-decoration: none;
    color: var(--text-color);

    background-color: rgba(255, 255, 255, 0.1);
    
    border: 1px solid var(--border-color);
    border-radius: 5px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.container ul li a:hover {
    background-color: rgb(255, 255, 255, 0.05);
    border: 1.5px solid var(--text-color);
}

/* Redes Sociais */

.socialmedia {
    width: 100%;
    margin-top: 50px;
}

.socialmedia ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;


    list-style: none;
}

.socialmedia img {
    width: 50px;
    border-radius: 50%;
}


.github-icon {
    filter: var(--filter-invert);
    transition: 0.3s ease-in-out;
}

.github-icon:hover {
    transform: scale(1.2);
}

.linkedin-icon {
    filter: var(--filter-invert);
    transition: 0.3s ease-in-out;
}

.linkedin-icon:hover {
    transform: scale(1.2);
}


.instagram-icon {
    filter: var(--filter-invert);
    transition: 0.3s ease-in-out;
}

.instagram-icon:hover {
    transform: scale(1.2);
}

.whatsapp-icon {
    filter: var(--filter-invert);
    transition: 0.3s ease-in-out;
}

.whatsapp-icon:hover {
    transform: scale(1.2);
}

/* Rodapé */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    height: 100px;
}

/* Botões Dark e Light mode */
.container-button {
    display: flex;
    justify-content: center;
}

span {
    filter: var(--filter-invert);
    cursor: pointer;
}

#darkButton {display:none}